


.body a:link {
	font-size: 13pt;
    text-decoration: none;
	color: red;
}

.body a:visited {
	color: red;
}

.body a:hover {
	color: black;
}

#main a:link {
	font-size: 14pt;
    text-decoration: none;
	color: red;
}

#main a:visited {
	color: red;
}

#main a:hover {
	color: black;
}

h1 {
	margin-bottom:-20px;
	font-size: 18pt;
}

h2
{
	margin-bottom:-20px;
	font-size: 14pt;
}
